@font-face {
    font-family: allegro;
    src: url(Assets/Fonts/allegro/AllegroFree.otf);
}

@font-face {
    font-family: karu;
    src: url(Assets/Fonts/karu/Karu-Light.otf);
}

* {
    font-family: karu;
    text-decoration: none;
}

body {
    height: 100vh;
    min-height: 800px;
    min-width: 360px;
    margin: 0;
    background-color: #fff3f0ef;
}

/* Header Styling */

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 20%;
    background-color: #7057F7;
    background-image: linear-gradient(to bottom right, #7057F7, #ac9efd);
    color: #170e3a;
    box-shadow: 1px 1px 8px #462dd3;
}

#profilePic {
    border: 1px solid #170e3a;
    border-radius: 50%;
    height: 80%;
    box-shadow: 10px 10px 20px #462dd3;
    margin: 1em;
}

h1 {
    font-size: 1.5rem;
    font-family: allegro;
    color: #CEFCFB;
    margin: 1em 0 0 0;
}

header h3 {
    font-size: 1rem;
    margin: 0;
}

#emailInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.9em;
}

#emailIcon {
    height: 1.7em;
    margin-right: 0.2em;
}

/* Main and Nav Bar Styling */

main {
    display: flex;
    flex-direction: column;
    min-height: 72%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 8%;
    width: 100%;
    background-color: #170e3a;
    box-shadow: 1px 1px 5px #462dd3;
}

nav a {
    margin: 2em 0;
}

nav a, footer a {
    transition: 0.3s;
    color: #cbc4f7;
}

nav a:hover, footer a:hover {
    color: #6c609b;
}

/* Footer Styling */

footer {
    height: 8%;
    font-size: 0.8rem;
    background-color: #170e3a;
    color: #cbc4f7;
    border-top: 2px solid #170e3a;
}

footer p {
    text-align: center;
    margin: 0.8em;
}

#footerLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Shared styling for main content */

section {
    color: #170e3a;
    display: flex;
    flex-direction: column;
}

section > * {
    margin: 0.6rem 0.8rem;
}

/* Bio- Main Content Specific Styling */

#interestsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.interest-container {
    text-align: center;
    margin: 4px;
}

.interest-container p {
    margin: 0;
}

.interest-icon {
    border: 1px solid #cbc4f7;
    height: 6rem;
    margin: 2px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px #462dd3;
}

/* Experience- Main Content Specific Styling */

.work-place h4, .skill-set h4 {
    margin: 0;
}

#skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.skill-set ul {
    list-style-type: none;
    padding: 0;
    
}

.skill-set li {
    margin: 0.5em 0.5em;
}

/* Portfolio- Main Content Specific Styling */

#projectsContainer {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.project-info {
    display: flex;
    flex-flow: row;
}

.project-icon {
    border: 1px solid #cbc4f7;
    margin: 0.8em;
    height: 5rem;
    box-shadow: 1px 1px 5px #462dd3;
}

.project-description {
    font-size: small;
}

.project-icon:hover {
    background-color: #170e3a;
    box-shadow: 1px 1px 10px #462dd3;
}

.project-title:hover {
    color: #6c609b;
}

/* Desktop Mode */

@media (min-width: 880px) {

    body {
        font-size: large;
    }

    main {
        flex-direction: row;
        height: 72%;
    }

    nav {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 8%;
        height: 100%;
        box-shadow: none;
    }

    section {
        width: 92%;
        justify-content: center;
    }

    section > * {
        margin: 1rem 1.5rem;
    }

    #footerLinks {
        max-width: 60%;
        margin: 0 20%;
    }

    /* Bio */ 

    .interest-icon {
        height: 10rem;
    }

    /* Experience */

    .skill-set {
        max-width: 35%;
    }

    .skill-set ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .skill-set li {
        margin: 1em 1em;
    }

    /* Portfolio */

    #projectsContainer {
        flex-flow: row;
    }

    .project-container {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .project-title {
        font-size: 1.2em;
        transition: 0.3s;
    }

    .project-info {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 80%;
    }

    .project-icon {
        height: 8em;
        width: 8em;
        transition: 0.3s;
    }

    .project-description {
        font-size: medium;
        max-width: 85%;
    }
}
