@font-face {
    font-family: allegro;
    src: url(Assets/Fonts/allegro/AllegroFree.otf);
}

@font-face {
    font-family: karu;
    src: url(Assets/Fonts/karu/Karu-Light.otf);
}

* {
    font-family: karu;
    list-style-type: none;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    min-height: 800px;
    min-width: 370px;
    margin: 0;
}

header, main, footer {
    width: 100%;
}

/* Header Styling */

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 20%;
    background-color: #7057F7;
    background-image: linear-gradient(to bottom right, #7057F7, #a596fd);
    color: #170e3a;
    box-shadow: 1px 1px 5px #462dd3;
}

#profilePic {
    border-radius: 50%;
    height: 80%;
    box-shadow: 10px 10px 20px #462dd3;
    margin: 1em;
}

h1 {
    font-size: 1.5rem;
    font-family: allegro;
    color: #CEFCFB;
    margin: 1em 0 0 0;
}

header h3 {
    font-size: 1rem;
    margin: 0;
}

#emailInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.9em;
}

#emailIcon {
    height: 1.8em;
    margin-right: 0.2em;
}

/* Main Layout Styling */

main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 72%;
}

/* Nav Bar and Footer Styling Styling */

nav a, footer a {
    color: #cbc4f7;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 22%;
    background-color: #170e3a;
}

nav a {
    margin: 30px 0;
}

footer {
    height: 8%;
    font-size: 0.8rem;
    background-color: #170e3a;
    color: #cbc4f7;
    border-top: 2px solid #170e3a;
}

footer p {
    text-align: center;
    margin: 0.8em;
}

#footerLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section {
    width: 78%;
    color: #170e3a;
}

section > * {
    margin: 0.6rem 0.8rem;
}

/* Bio */

#bioSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#interestsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#interestsContainer {
    align-items: center;
}

.interest-container {
    margin: 4px;
}

.interest-container p {
    text-align: center;
    margin: 0;
}

.interest-icon {
    height: 6rem;
    margin: 2px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px #462dd3;
}

/* Portfolio */

#projectsContainer {
    height: 90%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-start;
}

.project-container a {
    display: block;
}

.project-info {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.project-icon {
    margin: 0.8em;
    height: 5rem;
    box-shadow: 1px 1px 5px #462dd3;
}

.project-description {
    display: inline;
    font-size: small;
    text-align: left;
}

/* Desktop Mode */

@media (min-width: 768px) {

    body {
        font-size: large;
    }

    main {
        flex-direction: column;
        align-items: center;
    }

    nav {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 10%;
        width: 100%;
        box-shadow: 1px 1px 5px #462dd3;
    }

    nav a {
        margin: 0;
    }

    section {
        width: 90%;
        height: 90%;
    }

    /* Bio */ 

    #bioSection {
        justify-content: center;
    }

    .interest-icon {
        height: 10rem;
    }

    /* Portfolio */

    #portfolioSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #projectsContainer {
        height: 60%;
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
    }

    .project-container {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .project-container a {
        font-size: 1.2em;
    }

    .project-info {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 80%;
    }

    .project-icon {
        height: 8em;
        width: 8em;
    }

    .project-description {
        font-size: medium;
        text-align: left;
    }
}
    